<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>

<body>
    <h1>Task List</h1>
    <a href="{% url 'add_task' %}">Add Task</a>
    <ul>
        <h2>Uncompleted Tasks!!!</h2>
        {% for task in incomplete_tasks %}
        <li>
            {{ task.title }} (Due: {{ task.due_date }})
            <a href="{% url 'edit_task' task.pk %}">Edit</a>
            <form action="{% url 'delete_task' task.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
            <form action="{% url 'complete_task' task.pk %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Complete</button>
            </form>
        </li>
        {% empty %}
        <li>No tasks available.</li>
        {% endfor %}
    </ul>

    <ul>
        <h2>Completed Tasks</h2>
        {% for task in completed_tasks %}
        <li>
            {{ task.title }} (Due: {{ task.due_date }})
            <a href="{% url 'edit_task' task.pk %}">Edit</a>
            <form action="{% url 'delete_task' task.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
            <form action="{% url 'incomplete_task' task.pk %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Incomplete</button>
            </form>
            <!-- Optionally add a delete link -->
        </li>
        {% empty %}
        <li>No tasks available.</li>
        {% endfor %}
    </ul>
</body>

</html>